
/* General styles */

body {
    background-color: #2f2f2f;
    color: #dfd13c;
    margin: 0;
    padding: 0;
    font-family: 'Amoresa';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    overflow-x: hidden; /* Prevent horizontal scrolling on smaller screens */
    line-height: 1.25;  /* Set line height to 1.25 adjust if needed. */
}


/* Title box styles */


.title-box {
    background-image: url("Gallery Pictures/dragonfly.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    padding: 100px 160px 250px; /* adjust padding as needed */
    text-align: center;
    white-space: nowrap;
    margin-bottom: 15px; /* Adjust margin bottom to create space for the nav bar */
}

.title {
    position: absolute;
    top: 35px; /* Adjust to move the title up or down */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: #dfd13c; /* Contrast color */
}


.word {
    font-size: 8vw; /* Adjust as needed */
    font-family: 'Amoresa';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

/* Header styles */

header {
    background-color: rgb(182, 175, 244);
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); /* add shadow to the header */
    padding: 6px 0;
}

/* Navigation styles */

header nav {
    margin-top: 10px;  /* Adjust margin top to move the navigation bar down */
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #dfd13c; /* color that contrasts well with my header background */
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
}

header nav ul li a:hover {
    color: #ffffff; /* Change color on hover */
}


/* Footer styles */

footer {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    background-color: #333; /* Example background color */
    padding: 10px 0; /* Adjust padding as needed */
}

footer nav {
    margin-top: 5px;  /* Adjust margin top to create space above the footer navigation */
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: #dfd13c; /* Color that contrasts well with the footer background */
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
}

footer nav ul li a:hover {
    color: #ffffff; /* Change color on hover */
}


/* Responsive styles */

@media (max-width: 768px) {
    .word {
        font-size: 5vw; /* Adjust title font size for smaller screens */
    }

    header {
        padding: 15px 0; /* Increase padding for better touch interaction */
    }

    header nav {
        margin-top: 6px; /* Increase margin top for better spacing */
    }

    header nav ul li {
        margin: 0 8px; /* Adjust margin for smaller screens */
    }

    header nav ul li a {
        font-size: 16px; /* Decrease font size for smaller screens */
    }
}

.about-section {
    padding: 20px;
    text-align: center;
}


.main-content {
    text-align: center; /* Center text horizontally within .main-content */
    margin-top: 50px; /* Optional: Adjust the top margin as needed */
}

.about-section h2 {
    font-size: 1.5em; /* Adjust as needed */
}

.about-section p {
    font-size: 1.2em; /* Adjust as needed */
}

